:root {
  --main: #9c00bb;
  --main-light: #f2b2ff;
  --main-back: #fefaff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--main-back);
}

body::-webkit-scrollbar{
    display: none;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  position: sticky;
}

.icon {
  display: flex;
  gap: 10px;
  height: 80%;
  width: fit-content;
  align-items: center;
  justify-content: center;
  color: var(--main);
  font-size: 20px;
  letter-spacing: -1px;
}

.icon > img {
  height: 55%;
  border-radius: 5px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.link {
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.dd-title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dd-title > img {
  height: 15px;
}

.link:hover {
  background-color: rgb(240, 240, 240);
}

.links > .line {
  width: 1px;
  height: 20px;
  background-color: rgb(160, 160, 160);
  margin: 0 5px;
}

.links > .start {
  color: white;
  background-color: var(--main);
  font-weight: 700;
  margin: 0 0 0 5px;
}

.resources {
  position: relative;
}

.dropdown {
  display: none;
}

.resources:hover > .dropdown {
  display: block;
  height: 10vh;
  background-color: white;
  position: absolute;
  top: 50px;
  left: 0;
  width: 17vw;
  height: fit-content;
  list-style-type: none;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0px 0px 10px var(--main-light);
}

.dropdown > li {
  padding: 15px 5px;
}

.dropdown > li:hover{
    background-color: rgb(240, 240, 240);
    border-radius: 12px;
}

main{
    width: 100vw;
    height: 100vh;
}